# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Uvicorn / logs
*.log

# MacOS junk
.DS_Store